<div id="top-container" class="container-fluid">
  <h1 id="main-title" class="text-center">
    Encontre o emprego dos seus sonhos
  </h1>
  <p id="main-subtitle" class="text-center">
    Somos o site com mais vagas da área do comércio do mercado.
  </p>
  <form action="" class="form-inline row" id="search-form">
    <div class="form-group col-md-10">
      <input
        type="text"
        class="form-control"
        id="job"
        name="job"
        placeholder="Digite a vaga de seu interesse"
      />
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </form>
</div>

<main>
  <div id="jobs-container" class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="job-list-title">Veja as nossa vagas em destaque</h2>
        <ul id="job-list" class="list-group">
          <li class="list-group-item new-job">
            <img src="/img/supermercado.png" alt="company" />
            <p>Empresa</p>
            <h2>Titulo da vaga</h2>
            <p>1000</p>
            <span class="new-job-label">Nova</span>
            <a href="" class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item new-job">
            <img src="/img/supermercado.png" alt="company" />
            <p>Empresa</p>
            <h2>Titulo da vaga</h2>
            <p>1000</p>
            <span class="new-job-label">Nova</span>
            <a href="" class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item new-job">
            <img src="/img/supermercado.png" alt="company" />
            <p>Empresa</p>
            <h2>Titulo da vaga</h2>
            <p>1000</p>
            <span class="new-job-label">Nova</span>
            <a href="" class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item new-job">
            <img src="/img/supermercado.png" alt="company" />
            <p>Empresa</p>
            <h2>Titulo da vaga</h2>
            <p>1000</p>
            <span class="new-job-label">Nova</span>
            <a href="" class="btn btn-primary">Ver vaga</a>
          </li>
          <li class="list-group-item">
            <img src="/img/supermercado.png" alt="company" />
            <p>Empresa</p>
            <h2>Titulo da vaga</h2>
            <p>1000</p>
            <span class="new-job-label">Nova</span>
            <a href="" class="btn btn-primary">Ver vaga</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>